nav{
    background-color: var(--primary-background);
    overflow: hidden;
    
    & a{
        color: white;
    }

    & .bars{
        /* position: absolute;
        top: 18px;
        right: 10px; */
    }

    & .container{
        max-width: 1170px;
        margin: 0 auto;
    }

    & .nav_con {
        position: relative;
        padding: 18px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo{
            & a{
                text-decoration: none;
                font-weight: bold;
            }
        }

        & ul{
            display: flex;
            list-style: none;
            gap : 35px;

            & li{
                & a{
                    text-decoration: none;
                }
            }
        }

        
    }

    & .button{
            background-color: white;
            color: #000;
            border-radius: 20px;
            padding: 8px 21px;
            font-size: 16px;
            width: 100px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            text-decoration: none;
            cursor: pointer;

        &:hover{
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
            height: 40px;
            width: 110px;
        }
    }
}

@media screen and (max-width:480px) {
    .nav_con{
        flex-direction: column;
        height: auto !important;
        align-items: start !important;
        gap: 30px;

        & .non_mobile{
            display: none;
        }

        & .logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        & .mobile_menu{
            list-style: none;
            /* padding: 0 40px; */
            flex-direction: column;
            gap: 30px;
            & li{
                /* margin: 10px 0; */

                & a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    

    .mobile_button{
        
    }
}

@media screen and (min-width:481px) {

    .mobile_display{
        display: none !important;
    }
}