.wrapper{
    margin-top: 40px;
    background-color: var(--primary-background);
    color: #fff;
    & .number_con{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 90px;
        padding: var(--con_padding);

        & .number_items{
            text-align: center;
            font-weight: bold;

            & h3{
                font-size: 48px;
            }

            & p{
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width : 480px){
    .wrapper{
        & .number_con{
            padding: 20px;
            gap: 45px;
        }
    }
}
